.about {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px 0;
    background-image: url(../../Images/about-back.jpg);
    background-position: center 80px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.about>h1 {
    padding: 30px var(--side);
    background-color: white;
}

.about h1,
.about h2 {
    color: var(--color2);
}

.about>.first-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px var(--side);
    background-color: white;
}

.about>.second-part {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 60px var(--side);
    background-color: white;
}

.about>.second-part>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about>.second-part>div>p {
    font-weight: 600;
}

.about>.second-part>div>ul {
    list-style-type: circle;
    list-style-position: inside;
}

.about>.second-part>div>ul>li {
    color: var(--color1);
}



.about>.third-part {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px var(--side);
    background-color: white;
}

.about>.third-part>ul {
    list-style-position: inside;
    list-style-type: decimal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about>.third-part>ul>li {
    padding: 15px;
    box-shadow: 0 0 10px 2px rgb(235, 235, 235);
    width: 100%;
}

.about>.third-part>ul>li>ul {
    list-style-position: inside;
    list-style-type: lower-alpha;
    padding-left: 30px;
}
.about>.third-part>ul>li>ul>li{
    font-weight: lighter;
}

.about>.third-part>ul>li>ul>li::marker {
    font-size: 1.5rem;
}





@media(max-width: 800px){
    .about>.second-part {
        flex-direction: column;
    }
    .about>.third-part>ul{
        grid-template-columns: 1fr;
    }
    .about>.second-part>div {
        width: 100%;
    }
}