.azerbaijan {
    display: flex;
    flex-direction: column;
}

.azerbaijan>.first-part {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 var(--side);
}

.azerbaijan>.first-part::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .6);
    z-index: -1;
}

.azerbaijan>.first-part>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}

.azerbaijan>.first-part>h1 {
    color: white;
    font-size: 4rem;
    width: 70%;
}

.azerbaijan>.first-part>p {
    color: white;
    font-size: 1rem;
    width: 70%;
}

.azerbaijan>.second-part {
    padding: 50px var(--side);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.azerbaijan>.second-part>h1 {
    color: var(--color2);
    padding-top: 40px;
}

.azerbaijan>.second-part>p {
    width: 50%;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgb(235, 235, 235);
}

.azerbaijan>.second-part>ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    list-style-position: inside;
}

::marker {
    font-size: 2rem;
    color: var(--color2);
}

.azerbaijan>.second-part>ol>li {
    box-shadow: 0 0 10px 2px rgb(235, 235, 235);
    padding: 10px 15px;
}

.azerbaijan>.second-part>ol>li>span {
    font-size: 1.5rem;
    color: var(--color2);
}

.azerbaijan>.second-part>ol>li>p {
    padding: 15px 30px;
    text-align: justify;
}



@media(max-width: 1200px) {
    .azerbaijan>.first-part>h1 {
        font-size: 3rem;
    }

    .azerbaijan>.first-part>p {
        font-size: .9rem;
    }

    .azerbaijan>.second-part>ol>li>span {
        font-size: 1.25rem;
    }

    .azerbaijan>.second-part>ol>li>p {
        font-size: .8rem;
    }
}


@media(max-width: 1000px) {
    .azerbaijan>.first-part>h1 {
        width: 100%;
        font-size: 2.7rem;
    }

    .azerbaijan>.first-part>p {
        width: 100%;
        text-align: justify;
    }

    .azerbaijan>.second-part>ol {
        grid-template-columns: 1fr 1fr;
    }

    .azerbaijan>.second-part>p {
        width: 100%;
        font-size: .8rem;
    }
}

@media(max-width: 600px) {
    .azerbaijan>.first-part {
        height: 60vh;
        gap: 20px;
        padding-top: 50px;
    }

    .azerbaijan>.first-part>h1 {
        font-size: 1.5rem;
    }

    .azerbaijan>.first-part>p {
        font-size: .7rem;
    }

    .azerbaijan>.second-part {
        padding-top: 0;
    }

    .azerbaijan>.second-part>h1 {
        font-size: 1.3rem;
    }

    .azerbaijan>.second-part>ol {
        grid-template-columns: 1fr;
    }
    .azerbaijan>.second-part>ol>li>span {
        font-size: 1rem;
    }
    .azerbaijan>.second-part>ol>li>p{
        padding: 15px 20px;
    }
    .azerbaijan>.second-part>p{
        text-align: justify;
    }
    ::marker {
        font-size: 1.25rem;
        color: var(--color2);
    }
}