.inkluziv {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px var(--side);
    background-image: url('../../Images/ink.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
    background-attachment: fixed;
}

.inkluziv>.first-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 50px;
    width: 50%;
}

.inkluziv>div>h1 {
    color: var(--color2);
}

.inkluziv>.first-part>p {
    font-size: 1.1rem;
    text-align: justify;
}

.inkluziv>.second-part {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    background-color: white;
}

.inkluziv>.second-part>ol {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inkluziv>.second-part>ol>li>span {
    color: var(--color2);
    font-size: 1.3rem;
    font-weight: 800;
}

.inkluziv>.second-part>ol>li>p {
    padding: 15px 30px;
    font-size: 1.1rem;
}


@media(max-width: 1200px) {
    .inkluziv>.first-part {
        width: 75%;
    }

    .inkluziv>div>h1 {
        font-size: 1.8rem;
    }

    .inkluziv>.first-part>p {
        font-size: .9rem;
    }

    .inkluziv>.second-part>ol>li>span {
        font-size: 1.1rem;
    }

    .inkluziv>.second-part>ol>li>p {
        font-size: .9rem;
    }
}


@media(max-width: 1000px) {
    .inkluziv>div>h1 {
        font-size: 1.4rem;
    }

    .inkluziv>.first-part>p {
        font-size: .75rem;
    }

    .inkluziv>.second-part>ol>li>span {
        font-size: 1rem;
    }

    .inkluziv>.second-part>ol>li>p {
        font-size: .75rem;
    }
}

@media(max-width: 600px) {
    .inkluziv {
        padding: 75px var(--side);
        background-position: top center;
        background-size: 200%;
        gap: 30px;
    }

    .inkluziv>.first-part {
        width: 100%;
    }

    .inkluziv>.first-part,
    .inkluziv>.second-part {
        padding: 20px;
    }

    .inkluziv>div>h1 {
        font-size: 1.1rem;
    }

    .inkluziv>.first-part>p {
        font-size: .65rem;
    }

    .inkluziv>.second-part>ol {
        gap: 5px;
    }

    .inkluziv>.second-part>ol>li>span {
        font-size: .80rem;
    }

    .inkluziv>.second-part>ol>li>p {
        font-size: .65rem;
        padding: 5px 22px;
    }
}